body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f3e5f5, #e1bee7);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4c3755;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6d465d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

label, p {
    font-size: 1rem;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.button {
    background-color: #6d465d;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.7s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background-color: #925132;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.resultado {
    margin-top: 20px;
}

code {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}
